.input-group {
    width: 80%;
    margin: auto;
}

.slider {
    width: 80%;
    margin: auto;
}

.slider-element {
    display: flex;
}

.min {
    padding-right: 2px;
}

.max {
    padding-left: 2px;
}

.wordclouds {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    margin-top: 2rem;
}

.wordcloud1 {
    display: grid;
    grid-template-rows: 1fr 5fr;
    padding: 4px;
}

.wordcloud2 {
    display: grid;
    grid-template-rows: 1fr 5fr;
    padding: 4px;
}

.input-group-text {
    background-color: #4e4f52ad;
    color: #efefef;
    border-radius: 1.25rem;
}

.form-control {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: #ffffff;
    background-color: #fff0;
}

.form-control:focus {
    color: #ffffff;
    background-color: #636363cc;
}