altair==4.1.0
appdirs==1.4.4
applaunchservices==0.2.1
argh==0.26.2
astor==0.8.1
atomicwrites==1.4.0
base58==2.1.0
black==19.10b0
blinker==1.4
brotlipy==0.7.0
cachetools==4.2.1
certifi==2020.12.5
cycler==0.10.0
docutils==0.16
entrypoints==0.3
future==0.18.2
gitdb==4.0.7
GitPython==3.1.14
ipykernel==5.5.3
ipywidgets==7.6.3
jedi==0.18.0
joblib==1.0.1
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
matplotlib==3.4.1
mccabe==0.6.1
mypy-extensions==0.4.3
nltk==3.6.6
numpy==1.24.2
oauthlib==3.1.0
pandas==1.2.3
parso==0.8.2
pathspec==0.7.0
Pillow==8.1.2
plotly==4.14.3
prompt-toolkit==3.0.18
protobuf==3.15.6
pyarrow==3.0.0
pydeck==0.6.1
PyYAML==5.4.1
pyzmq==22.0.3
QDarkStyle==2.8.1
QtPy==1.9.0
requests-oauthlib==1.3.0
retrying==1.3.3
Rtree==0.9.4
smmap==4.0.0
stqdm==0.0.3
streamlit==0.79.0
terminado==0.9.4
textblob==0.15.3
toolz==0.11.1
tqdm==4.59.0
tweepy==4.12.0
tzlocal==2.1
validators==0.18.2
webencodings==0.5.1
widgetsnbextension==3.5.1
wordcloud==1.8.1