Flask==2.2.2
Flask_Cors==3.0.10
geopy==2.3.0
matplotlib==3.4.1
nltk==3.5
numpy==1.24.2
pandas==1.2.3
plotly==4.14.3
python-dotenv==0.21.1
textblob==0.15.3
transformers==4.26.1
tweepy==4.12.0
wordcloud==1.8.1
