/* .left-container {
    height: 85vh;
    width: 65vw;
    padding: 1.25rem;
    grid-area: left-container;
    text-align: center;
    overflow-y: scroll;
} */
.heading{
    font-size:  3rem !important;
    text-align: left;
}
.trending {
    font-size: 1.2rem;
    text-align: left;
}