.top-container {
    height: 15vh;
    width: 60vw;
    border: 1px solid rgb(255, 236, 239);
    grid-area: top-container;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    color: white !important;
}

a {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: rgb(161 179 179) !important;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: center;
}